.u-section-1 {
  background-image: url("images/wedding_web_hero.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  background-image: none;
  font-size: 4.5rem;
  margin: 173px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Playfair Display", serif;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 157px;
    margin-left: 86px;
    margin-right: 86px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 181px;
    margin-right: 93px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 31px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1436px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 51.94% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 593px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 122px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 307px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 156px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: -7px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: -156px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: right center 0px;
  margin-left: 0;
}

.u-section-2 .u-line-2 {
  margin-top: 111px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: right center 0px;
}

.u-section-2 .u-text-3 {
  line-height: 1.6;
  font-size: 2.25rem;
  margin: 85px 104px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 101px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 207px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 107px;
  }

  .u-section-2 .u-line-1 {
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 60px;
    margin-left: 37px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -248px;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-top: 252px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 44px;
    margin-bottom: 43px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 335px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-1 {
  width: 680px;
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-3 .u-line-2 {
  width: 912px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }
}.u-section-4 .u-map-1 {
  animation-duration: 1500ms;
}.u-section-6 .u-sheet-1 {
  min-height: 834px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  margin: 61px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-6 .u-line-1 {
  width: 912px;
  margin: 59px auto 60px;
}

.u-section-6 .u-text-3 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-6 .u-btn-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: 41px 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-8 .u-gallery-1 {
  width: 1140px;
  height: 851px;
  margin: 30px auto 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-8 .u-gallery-1 {
    width: 940px;
    height: 702px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1494px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
    height: 1210px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3914px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-gallery-1 {
    width: 540px;
    height: 3630px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2592px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
    height: 2286px;
  }
}